.bg-ced {
  background: #68af24;
}
.bg-fauba {
  background: #2b4e84;
  padding-bottom: 0px !important;
}
.carousel {
    margin-bottom: 4rem;
}
.nav-link.active {
    font-weight: bold;
}
.separador-derecha {
    border-right: 1px solid white;
    padding-right: 1em;
    margin-right: 1em;
}